<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>캐릭터 정보</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="card">
    <div class="image-wrapper">
        <img th:src="${info.image}" alt="캐릭터 이미지" class="character-img">
    </div>


    <div class="character-name" th:text="${info.name}">홍길동</div>
    <div class="character-sub">
        <span th:text="${info.world}">루나</span>
        <span th:if="${info.guild != null}" th:text="'@ ' + ${info.guild}">길드</span>
    </div>

    <div class="character-info">
        <span th:text="${info.job}">히어로</span>
        <span th:text="' | Lv. ' + ${info.level}">Lv.300</span>
        <span th:if="${info.expRate != null}" th:text="' (' + ${info.expRate} + '%)'">(75%)</span>
    </div>
    <br/>
    <a href="/" class="back-btn">돌아가기</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
